 .chat-window {
  height: 15rem;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 36px; 
  width: 100%; 
  background-color:#D7C7F421;
}

.empty-chat {
  text-align: center;
  color: #888;
  margin-top: 40px;
}

.message .feedback {
  display: none;
}

.message.ai:hover .feedback {
  display: flex;
}

.avatar{
    width:50px;
    height:50px;
} 

.message-row.user {
   display:flex;
  justify-content: flex-start; 
}

.message-row.ai { 
  display:flex;
  justify-content: flex-start;
}
