 .sidebar{
    width: 25%;
    height: 100%; 
    
 } 

 *{
    background-color: aliceblue;
 } 

 .btn1{ 
    height:25%;
    width:25%;
    background-color: #e3cfe6;
    align-items: center;
    text-align:center; 
    color:black;
 } 
 .btn2{ 
    height:25%;
    width:25%; 
    background-color: #e3cfe6; 
    color:black;

 } 

 .btns{
     background-color: #e3cfe6;
     gap:45px; 
 } 

 